<ion-header>
  <ion-toolbar>
    <ion-title>tab5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <h3>Howdy, </h3>
  <img>
  <p>UID: </p>
  <p>Favorite Color:  </p> -->


  <ion-item>
    <ion-label>{{ autherservice.userData.displayName }}
      <p>{{ autherservice.userData.email }}</p>
      <p>{{ autherservice.userData.uid }}</p>
      <p>
        <ion-button (click)="logout()" fill="clear" size="small" href="#">
          logout
        </ion-button>
      </p>
    </ion-label>
    <ion-thumbnail slot="end">
      <img [src]="autherservice.userData.photoURL">
    </ion-thumbnail>

  </ion-item>

  <ion-text *ngFor="let review of myReviews">
    {{review.comment}} on {{review.date}}
  </ion-text>

</ion-content>