<ion-header>
  <ion-toolbar>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <h3>Howdy, </h3>
  <img>
  <p>UID: </p>
  <p>Favorite Color:  </p> -->


  <ion-item>
    <ion-label>{{ autherservice.userData.displayName }}
      <p>{{ autherservice.userData.email }}</p>
      <p>{{ autherservice.userData.uid }}</p>
      <p>
        <ion-button (click)="logout()" fill="clear" size="small" href="#">
          logout
        </ion-button>
      </p>
    </ion-label>
    <ion-thumbnail slot="end">
      <img [src]="autherservice.userData.photoURL">
    </ion-thumbnail>

  </ion-item>
  <div class="container">
    <div class="ion-padding list-heading">Favourites</div>
    <ion-item *ngFor="let doc of favDocs">
      <ion-label (click)="navToDetail(doc)">
        <ion-text text-wrap>
          <b>Dr. {{doc.name}}, </b>
          <small>{{doc.address}}</small> <br />
          <small class="uk-text-small" *ngFor="let spl of doc.special">#{{spl}} </small>
        </ion-text>
      </ion-label>
    </ion-item>

    <div class="ion-padding list-heading">Reviews</div>

    <ion-item *ngFor="let review of myReviews">
      <ion-label>
        <ion-text text-wrap>
          <b>About {{review.docName}} </b> <br />
          {{review.comment}} </ion-text>
      </ion-label>
    </ion-item>
  </div>

</ion-content>