.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

/* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
    line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
}

.list-heading {
    margin: 0;
    font-size: 0.8em;
    padding-bottom: 0;
}

.heart-container {
    position: absolute;
    top: 0px;
    font-size: 22px;
    margin: 15px;
}

.font-red {
    color: red;
}