<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="public/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Checked in</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <ion-text>
      Your consultation with Dr. {{model.checkedInDocName}} in
    </ion-text>
    <ion-text color="primary">
      <h3>45 minutes</h3>
    </ion-text>
    <hr />
  </div>

  <ion-list *ngIf="usersList">
    <ion-item *ngFor="let u of usersList">
      <div *ngIf="u?.checkOutStatus == false">
        <ion-label>{{u.displayName}}
          at {{u.dataTime.toDate() | date: 'h:mm a, yyyy-MM-dd'}}
        </ion-label>
      </div>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button (click)="checkout();" color="danger">
        <ion-icon name="pin"></ion-icon>
        Check out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>